/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin: 0;
}

h1,
h2 {
  color: #52565e;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3.35rem;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

/* Section Styles */
#main {
  margin: 30px 8px;
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote {
  font-style: italic;
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0px 5px 0px;
}

#tribute-info ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

#tribute-info li {
  margin: 16px 0;
}

#headline {
  margin: 50px 0;
  text-align: center;
}

/* Media Styles */
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
  #main {
    margin: 0;
  }
  #img-caption {
    font-size: 1.4rem;
  }
}
